<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.langlang.dao.AnchorsMapper">
  <resultMap id="BaseResultMap" type="com.langlang.domain.Anchors">
    <!--@mbg.generated-->
    <!--@Table anchors-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="traffic_source" jdbcType="VARCHAR" property="trafficSource" />
    <result column="audience_demographics" jdbcType="VARCHAR" property="audienceDemographics" />
    <result column="account_tags" jdbcType="VARCHAR" property="accountTags" />
    <result column="gift_income" jdbcType="DECIMAL" property="giftIncome" />
    <result column="ad_income" jdbcType="DECIMAL" property="adIncome" />
    <result column="average_stay_duration" jdbcType="INTEGER" property="averageStayDuration" />
    <result column="followers_count" jdbcType="BIGINT" property="followersCount" />
    <result column="phone" jdbcType="INTEGER" property="phone" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, traffic_source, audience_demographics, account_tags, gift_income, ad_income, 
    average_stay_duration, followers_count, phone
  </sql>
  <select id="getAnchorList" parameterType="java.lang.Integer" resultType="com.langlang.response.AnchorsRsp">
    <!--@mbg.generated-->
    select
   a.account_tags,a.followers_count,b.username,b.gender, b.updated_at
    from anchors a join user b on
    a.phone = b.phone order by b.updated_at desc
  </select>
  <select id="getAnchorInfo" parameterType="java.lang.Integer" resultType="com.langlang.response.AnchorsInfoRsp">
    <!--@mbg.generated-->
    select
    b.username, b.gender,
    a.traffic_source, a.audience_demographics, a.account_tags, a.gift_income, a.ad_income,
    a.average_stay_duration, a.followers_count, a.phone
    from anchors a join user b on
    a.phone = b.phone where a.phone = #{phone}
  </select>
  <select id="getAnchorTypeList" parameterType="java.lang.Integer" resultType="com.langlang.response.AnchorsRsp">
    <!--@mbg.generated-->
    select
    a.account_tags,a.followers_count,b.username,b.gender, b.updated_at
    from anchors a join user b on
    a.phone = b.phone where a.anchor_type = #{anchorType}
  </select>
</mapper>